/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

*::before,*::after{
    margin: 0;
    padding: 0;
}

:root{
    --pink:#ff74a4;
    --violet:#9f6ea3;
    --light-black:#515C6F;
    --white:#ffffff;
    --dark-white:#cecaca;
    --pink-shadow:#ffcbdd;
    --light-bx-shadow:rgba(0,0,0,.15);
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--dark-white); */
}

.wrapper{
    width: 380px;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 6px 15px var(--light-bx-shadow);
    background-color: var(--white);
    position: relative;
    overflow: hidden;
}

.wrapper i {
    cursor: pointer;
}

.top-bar,
.progress-area .timer,
.controls,
.music-list .header,
.music-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar i{
    font-size: 30px;
    color: var(--light-black);
}

.top-bar span{
    font-size: 18px;
    color: var(--light-black);
}

.img-area{
    width: 100%;
    height: 256px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 15px var(--light-bx-shadow);
    overflow: hidden;
}

.img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-details{
    text-align: center;
    margin-block: 30px;
}

.song-details .name{
    font-size: 21px;
}

.song-details .artist{
    font-size: 18px;
    opacity: .9;
}

.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.progress-area .progress-bar{
    width: 0%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
    position: relative;
}

.progress-bar::before{
    content: "";
    width: 12px;
    height: 12px;
    background: inherit;
    border-radius: inherit;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
}

.progress-area .timer{
    margin-top: 2px;
}

.timer span{
    font-size: 13px;
    color: var(--light-black);
}

.controls{
    margin: 40px 0 5px 0;
}

.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 43px;
}

.controls #prev{
    margin-left: -13px;
}

.controls #next{
    margin-right: -13px;
}
 
.controls .play-pause{
    width: 54px;
    height: 54px;
    background: linear-gradient(var(--white) 0%, var(--dark-white) 100%);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-pause::before{
   content: "";
   width: 43px;
   height: 43px;
   position: absolute;
   border-radius: inherit;
   background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}

.play-pause i{ 
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}


.music-list{
    position: absolute;
    left: 0;
    bottom: -330px;
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0 -5px 10px rgba(0,0,0,.1);
    pointer-events: none;
    opacity: 0;
    transition: all .14s ease-out;
}


/* We will use this show class in javascript */
.music-list.show{
    bottom: 0;
    pointer-events: auto;
    opacity: 1;
}

.music-list .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--light-black);
}

.header .row i{
    cursor: default;
}

.header .row span{
   margin-left: 5px;
}

.header #close{
    font-size: 22px;
    color: var(--light-black);
}

.music-list ul{
    margin-block: 10px;
    max-height: 260px;
    overflow-y: auto;
}
.music-list ul{
    scrollbar-width: none;
}

.music-list ul::-webkit-scrollbar{
    width: 0;
}

.music-list  ul li{
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    color: var(--light-black);
}

.music-list ul li:last-child{
    border-bottom: 0px;
}

.music-list ul li .row span{
    font-size: 17px;
}

ul li .row p{
    opacity: .9;
}

ul li .audio-duration{
    font-size: 16px;
}

ul li.playing{
    color: var(--violet);
    pointer-events: none;
}

